# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# IDE
.idea/
.vscode/

# Android
android/.gradle
android/captures/
android/gradlew
android/local.properties
android/**/GeneratedPluginRegistrant.java

# OS
.DS_Store
Thumbs.db
